@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

:root{
    --mainColor: #492C5E;
    --mainColorLighter: #755e86;
    --secondaryColor: #18151b;
    --textColor: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}

nav a{
    margin: 0 4rem;
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover{
    color: var(--secondaryColor);
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 2.5rem;
}

footer {
    position: relative;
    margin-top: 10%;
    background-color: var(--mainColor);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px;
    text-align: center;
    color: white;
}

h1 {
    text-align: center;
    font-size: 2.0rem;
}

.container {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container2 {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.float {
    display: inline-grid;
    width: 40%;
    float: left;
    padding: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 60px;
    border: 3px solid rgb(182, 114, 246);
    background-color:#dabbf1;
    border-radius: 20px;
    text-align: center;
}

/* Float with No Border */
.float1 {
    display: inline-grid;
    height: 100%;
    width: 60%;
    float: left;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 20px;
    text-align: center;
}

/* Paragraph float with No Border */
.float2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    float: left;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
    text-align: center;
    font-size: 25px;
}

/* For the coffee, tea, and cookie floats */
.float3 {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40%;
    float: left;
    padding: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 60px;
    border: 3px solid rgb(182, 114, 246);
    background-color:#dabbf1;
    border-radius: 20px;
    text-align: center;
}

/* Float for Social Media/Contact Info */
.float4 {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    float: left;
    margin-right: 60px;
    text-align: center;
}

body {
    background-color:#b7ef93;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}

/* CSS Code for Form */
.wrapper {
    padding: 5px 20px;
}

.wrapper fieldset {
    margin: 20px 0;
}


@media only screen and (max-width: 1024px){
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_nav{
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a{
        font-size: 1.5rem;
    }

    footer {
        position: fixed;
        background-color: var(--mainColor);
        height: 5%;
        width: 5%;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        color: white;
    }

    
}